---
template: system
---
doctype html
head
	link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,900')
	| !{css}
	link(rel='stylesheet' href='/asset/css/reset.css')
	link(rel='stylesheet' href='/asset/css/main.css')

	script(src="/asset/js/main.js")
	script(src="//unpkg.com/alpinejs" defer)

	title Van Gogh
body
	.container !{body}
